body{
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url("customeret.jpg")  no-repeat;
	background-size: cover;

}
.box{
	background: rgba(0,0,0,.7);
	width:700px;
	
	
}
.p1{
	
	font-size:  45px;
	font-family: segoe script;
	color: white;
}
td{
	color: rgb(136, 138, 172);
	padding-bottom: 30px;
	font-size:25px;
	text-align: center;
}
table{
	margin-top: 20px;
}

input[type=text]{
	width: 300px;
	height: 40px;
	border: 2px solid rgb(69, 30, 245);
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
}
input[type=email]{
	width: 300px;
	height: 40px;
	border: 2px solid rgb(69, 30, 245);
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
}
textarea{
	height: 120px;
	width: 300px;
	resize: none;
	border: 2px solid rgb(69, 30, 245);
	border-radius: 10px;
	font-size: 12px;
}
input[type=button]{
	width: 200px;
	height: 40px;
	border: 2px solid rgb(69, 30, 245);
	border-radius: 10px;
	font-size: 20px;
}

}
	input[type=reset]{
	width: 200px;
	height: 40px;
	border: 2px solid rgb(69, 30, 245);
	border-radius: 10px;
	font-size: 20px;
	margin-right: 20px;
}